{% extends 'base.html' %}

{% block title %}
{{bottle_object.title}} -
Stellar Cellar
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a href = "{% url 'bottle_list' %}">Cellar Home</a>
    </nav>
    </nav>
</header>
<main>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Add Bottle</button>
    </form>                
</main>
{% endblock content%}
