{% extends 'base.html' %}
{% block title %}
Cellar Home
{% endblock title %}

{% block content %}
<header class="item.header">           
    <nav>
        <a href = "{% url 'bottle_list' %}">Wine Cellar</a>
        {% comment %} <a href= "{% url 'create_recipe' %}">Create a recipe</a> {% endcomment %}
        {% comment %} <a href="{% url 'my_wine_list' %}">My wine</a> {% endcomment %}
        {% comment %} {% if user.is_authenticated %}
        Hello, {{user.username}}
        <a href="{% url 'user_logout' %}">Logout</a>
        {%else%}
            <a href="{% url 'signup' %}">Sign up</a>
            <a href="{% url 'user_login' %}">User Login!</a>
            {% comment %} <a href= "{% url 'create_recipe' %}"></a> {% endcomment %}
        {% comment %} {% endif %} {% endcomment %} 
    </nav>
</header>
<main>
    <h1 class="veggie-font"> Stellar Cellar</h1>
    <h2>Cheers and Welcome to your Cellar</h2>
    <div class="container">
        {% for bottle in bottle_list %}
        <div>
            
            <h3>
                <p>{{ recipe.cellared_on|date:'M jS'}}</p>
                {% comment %} <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title}}</a> {% endcomment %}
            </h3>
            {% comment %} <img src="{{recipe.picture}} " alt=""> {% endcomment %}
            <p>
                Added by
                {% comment %} {{recipe_object.author.username|default:"anonymous"}} {% endcomment %}
            <div>4.3 stars</div>
        </div>
        {% endfor%}
    </div>
</main>
{% endblock content %}
