{% extends 'base.html' %}

{% block title %}
{{recipe_object.title}} -
Stellar Cellar
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a href = "{% url 'bottle_list' %}">Cellar Home</a>
        <a href= "{% url 'add_bottle' %}">-Add to your Cellar</a>
        <a href = "{% url 'edit_tasting' bottle_object.id %}">Add Tasting notes</a> 
    </nav>
</header>
main>
    <h1 class="veggie-font"> {{bottle_object.title}}</h1> 
    <img src="{{bottle_object.picture}} " alt="">
    <div>4.3 St<ars</div>
    <p>{{bottle_object.description}}</p>
    <h2>Ingredients</h2>
    <table class="tasting notes-table">
        <thead>
            <tr>
                <th>Vintage</th>
                <th>Bottle/th>
                <th>Decanted</th>
                <th>Drink Again?</th>
            </tr>
        </thead>
        <tbody>
            {% for tasting in bottle_object.tasting.all %}
                <tr>
                    <td>{{ tasting.vintage }}</td>
                    <td>{{ tasting.bottle }}</td>
                    <td>{{ tasting.decanted|yesno }}</td>
                    <td>{{ tasting.drink_again|yesno }}</td>    
                </tr>
                <div>
                    <h3>Tasting Notes</h3>
                    <td>{{ tasting.description }}</td>
                </div>
            {% endfor%}
        </tbody>
    </table>               
</main>
{% endblock content %}