{% extends 'base.html' %}

{% block title %}
{{bottle_object.title}} -
Stellar Cellar
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a href="{% url 'bottle_list'%}">Cellar Home</a>
    </nav>
</header>
<main>
    <h1>Edit {{ bottle_object.title }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ bottle_form.as_p }}
      <button>Save Changes</button>
    </form>
</main>
{% endblock content %}