@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.recipe-font {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:auto;
    padding-left: 5px;
}

body {
    margin: 0;
    height: 0;
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
    background-color: green;
    color: pink;
}

img {
    height: 200px;
}
    
nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: pink;
}

a:link {
    text-decoration: none;
    color: green;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    text-decoration: none;
    color:green;
}

.veggie-font {
    color: green;
}

tr:nth-child(even) {
    background-color: lightgrey;
}
