{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static "css/recipes.css" %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title%} {% endblock title %}
        </title>
    </head>
    <body class="recipe-font"></body>
        {% block content%}{% endblock content%}
        <footer>
            <div>Made with love by Scrumptious Recipes</div>
        </footer>
    </body>
</html>